# This docker compose file is based on the setup described in
# https://docs.scion.org/en/latest/tutorials/deploy.html
name: "SCION Testbed"

services:
  # Monitoring container
  monitor:
    image: monitor:1.0
    container_name: monitor
    hostname: monitor
    ports:
      - "8080:8080"
    networks:
      transit_net:
        ipv4_address: 10.100.0.100
    volumes:
      - ./captures:/data
      - /sys/fs/cgroup:/sys/fs/cgroup
    tmpfs:
      - /run
      - /run/lock

  scion11:
    image: scion11:1.0
    container_name: scion11
    hostname: scion11
    networks:
      as_net_31: {}
      transit_net:
        ipv4_address: 10.100.0.11
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup
      - /home/shared:/shared
    tmpfs:
      - /run
      - /run/lock
  scion12:
    image: scion12:1.0
    container_name: scion12
    hostname: scion12
    networks:
      as_net_32: {}
      transit_net:
        ipv4_address: 10.100.0.12
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup
      - /home/shared:/shared
    tmpfs:
      - /run
      - /run/lock
  scion13:
    image: scion13:1.0
    container_name: scion13
    hostname: scion13
    networks:
      as_net_33: {}
      transit_net:
        ipv4_address: 10.100.0.13
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup
      - /home/shared:/shared
    tmpfs:
      - /run
      - /run/lock
  scion14:
    image: scion14:1.0
    container_name: scion14
    hostname: scion14
    networks:
      as_net_34: {}
      transit_net:
        ipv4_address: 10.100.0.14
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup
      - /home/shared:/shared
    tmpfs:
      - /run
      - /run/lock
  scion15:
    image: scion15:1.0
    container_name: scion15
    hostname: scion15
    networks:
      as_net_35: {}
      transit_net:
        ipv4_address: 10.100.0.15
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup
      - /home/shared:/shared
    tmpfs:
      - /run
      - /run/lock
  scion21:
    image: scion21:1.0
    container_name: scion21
    hostname: scion21
    networks:
      as_net_21: {}
      transit_net:
        ipv4_address: 10.100.0.21
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup
      - /home/shared:/shared
    tmpfs:
      - /run
      - /run/lock
  scion22:
    image: scion22:1.0
    container_name: scion22
    hostname: scion22
    networks:
      as_net_22: {}
      transit_net:
        ipv4_address: 10.100.0.22
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup
      - /home/shared:/shared
    tmpfs:
      - /run
      - /run/lock
  scion23:
    image: scion23:1.0
    container_name: scion23
    hostname: scion23
    networks:
      as_net_23: {}
      transit_net:
        ipv4_address: 10.100.0.23
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup
      - /home/shared:/shared
    tmpfs:
      - /run
      - /run/lock
  scion24:
    image: scion24:1.0
    container_name: scion24
    hostname: scion24
    networks:
      as_net_24: {}
      transit_net:
        ipv4_address: 10.100.0.24
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup
      - /home/shared:/shared
    tmpfs:
      - /run
      - /run/lock
  scion25:
    image: scion25:1.0
    container_name: scion25
    hostname: scion25
    networks:
      as_net_25: {}
      transit_net:
        ipv4_address: 10.100.0.25
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup
      - /home/shared:/shared
    tmpfs:
      - /run
      - /run/lock
  scion31:
    image: scion31:1.0
    container_name: scion31
    hostname: scion31
    networks:
      as_net_31: {}
      transit_net:
        ipv4_address: 10.100.0.31
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup
      - /home/shared:/shared
    tmpfs:
      - /run
      - /run/lock
  scion32:
    image: scion32:1.0
    container_name: scion32
    hostname: scion32
    networks:
      as_net_32: {}
      transit_net:
        ipv4_address: 10.100.0.32
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup
      - /home/shared:/shared
    tmpfs:
      - /run
      - /run/lock
  scion33:
    image: scion33:1.0
    container_name: scion33
    hostname: scion33
    networks:
      as_net_33: {}
      transit_net:
        ipv4_address: 10.100.0.33
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup
      - /home/shared:/shared
    tmpfs:
      - /run
      - /run/lock
  scion34:
    image: scion34:1.0
    container_name: scion34
    hostname: scion34
    networks:
      as_net_34: {}
      transit_net:
        ipv4_address: 10.100.0.34
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup
      - /home/shared:/shared
    tmpfs:
      - /run
      - /run/lock
  scion35:
    image: scion35:1.0
    container_name: scion35
    hostname: scion35
    networks:
      as_net_35: {}
      transit_net:
        ipv4_address: 10.100.0.35
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup
      - /home/shared:/shared
    tmpfs:
      - /run
      - /run/lock
  scion41:
    image: scion41:1.0
    container_name: scion41
    hostname: scion41
    networks:
      as_net_41: {}
      transit_net:
        ipv4_address: 10.100.0.41
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup
      - /home/shared:/shared
    tmpfs:
      - /run
      - /run/lock
  scion42:
    image: scion42:1.0
    container_name: scion42
    hostname: scion42
    networks:
      as_net_42: {}
      transit_net:
        ipv4_address: 10.100.0.42
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup
      - /home/shared:/shared
    tmpfs:
      - /run
      - /run/lock
  scion43:
    image: scion43:1.0
    container_name: scion43
    hostname: scion43
    networks:
      as_net_43: {}
      transit_net:
        ipv4_address: 10.100.0.43
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup
      - /home/shared:/shared
    tmpfs:
      - /run
      - /run/lock
  scion44:
    image: scion44:1.0
    container_name: scion44
    hostname: scion44
    networks:
      as_net_44: {}
      transit_net:
        ipv4_address: 10.100.0.44
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup
      - /home/shared:/shared
    tmpfs:
      - /run
      - /run/lock
  scion45:
    image: scion45:1.0
    container_name: scion45
    hostname: scion45
    networks:
      as_net_45: {}
      transit_net:
        ipv4_address: 10.100.0.45
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup
      - /home/shared:/shared
    tmpfs:
      - /run
      - /run/lock
networks:
  # ISD 01
  as_net_11:
    ipam:
      config:
        - subnet: 10.10.1.0/24
  as_net_12:
    ipam:
      config:
        - subnet: 10.10.2.0/24
  as_net_13:
    ipam:
      config:
        - subnet: 10.10.3.0/24
  as_net_14:
    ipam:
      config:
        - subnet: 10.10.4.0/24
  as_net_15:
    ipam:
      config:
        - subnet: 10.10.5.0/24
  # ISD 02
  as_net_21:
    ipam:
      config:
        - subnet: 10.20.1.0/24
  as_net_22:
    ipam:
      config:
        - subnet: 10.20.2.0/24
  as_net_23:
    ipam:
      config:
        - subnet: 10.20.3.0/24
  as_net_24:
    ipam:
      config:
        - subnet: 10.20.4.0/24
  as_net_25:
    ipam:
      config:
        - subnet: 10.20.5.0/24
  # ISD 03
  as_net_31:
    ipam:
      config:
        - subnet: 10.30.1.0/24
  as_net_32:
    ipam:
      config:
        - subnet: 10.30.2.0/24
  as_net_33:
    ipam:
      config:
        - subnet: 10.30.3.0/24
  as_net_34:
    ipam:
      config:
        - subnet: 10.30.4.0/24
  as_net_35:
    ipam:
      config:
        - subnet: 10.30.5.0/24
  # ISD 04
  as_net_41:
    ipam:
      config:
        - subnet: 10.40.1.0/24
  as_net_42:
    ipam:
      config:
        - subnet: 10.40.2.0/24
  as_net_43:
    ipam:
      config:
        - subnet: 10.40.3.0/24
  as_net_44:
    ipam:
      config:
        - subnet: 10.40.4.0/24
  as_net_45:
    ipam:
      config:
        - subnet: 10.40.5.0/24
  # transit_net simulates a Tier 1 network the ASes are all running within.
  transit_net:
    driver: bridge
    ipam:
      config:
        - subnet: 10.100.0.0/24
